<div class="container is-fluid">
  <div class="section">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          My App
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="myNavbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" [routerLink]="['/home']">
            Home
          </a>
    
          <a class="navbar-item" [routerLink]="['/about/123']">
            About
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" [routerLink]="['/signup']">
                <strong>Sign up</strong>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </nav>
  
</div>
<router-outlet></router-outlet>